.main-header{
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 10;
  padding-top: 10px;
  background-color: white;
}

.main-header .logo{
  font-size: 2em;
  width: 15%;
  text-align: center;
}

.main-header .menu{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  width: 85%;
  justify-content: end;
  align-items: center;
}

.main-header .about-icons{
  height: 50px;
  margin: 5px;
}

.main-header .icon{
  height: 100px;
  margin: 5px;
}

.main-header .dropdown-icon{
  height: 100px;
  margin: 0;
}

.main-header .button{
  border: none;
  height: 100px;
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0);
}

.main-header .button:hover{
  cursor:pointer;
}