.projects-container{
  position: fixed;
  width: 9em;
  height: 12em;
  bottom: 45px;
  right: 45px;
  padding: 5px;
  
}

.projects-button{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 5em;
  height: 5em;
  margin: 5px;
  font-size: 1em;
  z-index: 5;
  text-align: center;
  border-radius: 50%;
  border-color: aqua;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}